@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

.nav-link {
    font-variant: small-caps;
    font-family: 'Overlock', cursive;
}

nav div form button {
    font-family: 'Overlock', cursive;
}

.carousel-item {
    margin-top: 70px;
    height: 80vh;
}

.carousel-caption {
    z-index: 0;
}

.carousel-caption .text-1 {
    margin: 0 0 10rem 23.12rem;
    letter-spacing: 2px;
}

.carousel-caption .text-1 a.btn {
    padding: 0 1.25rem;
}

.carousel-caption .text-2 {
    color: black;
    margin: 0 0 10rem -47rem;
    letter-spacing: 2px;
}

.carousel-caption .text-2 a.btn {
    padding: 0 1.25rem;
}

.carousel-caption .text-3 {
    color: black;
    margin: 0 0 10rem 46rem;
    letter-spacing: 4px;
}

.carousel-caption .text-3 a.btn {
    padding: 0 1.25rem;
}