@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
}

.block {
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
  }

div.contain{
    padding: 4em 1em;
}

.car {
    top: 116px;
}

nav>div>ul>li>a {
    font-family: 'Roboto', sans-serif;
}

nav>div>ul>li>a.register {
    margin-left: 650px;
}

.tales {
    width: 100%;
    max-height: 100%;
    height: 100%;
}

.clear{
    clear: both;
}

#artboard1 {
	padding-bottom: 500px;
	padding-right: 25px;
}

h3 {
	text-align: left;
	color: black;
}



/*Collection*/

.collection-container {
    row-gap: 10rem;
}

.collection-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 100px 1.5rem;
    background-color: grey;
    transition: 2s;
}

.collection-box:hover {
    transform: translateY(-.5rem);
}

.collection-img {
    width: 10px;
    height: 50px;
}

.collection-title{
    font-size: var(--h1-font-size);
    line-height: 1.2;
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
    font-weight: var(--font-semi);
}

.collection-subtitle {
    font size: var(--h2-font-size);
    color: var(--dark-color-light);
}

.collection-view {
    font-size: var(--small-font-size);
    color: whitesmoke;
}

.collection-view:hover {
    text-decoration: underline;
}

/* about us  */

div.contain>.about{
    width: 100%;
    text-align: center;
    margin-top: 20px;
	animation-delay: .8s;
	animation: text 5s 1;
}

@keyframes text {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}






